/**Gen Styles**/
html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

/**end gen styles**/

/** start jumbotron section**/
.jumbotron {
  height: 44rem;
  background-size: cover;
  background-position: center;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  color: white;
  text-align: center;
}

.jumbotron h1 {
  font-family: "Monoton";
  font-size: 7.1rem;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.background-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.background-flowers {
  background-image: url('../images/jumbotron-flowers.jpg');
}

.background-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}
/**project section**/

.projects img {
  height: 15rem;
}
